h1 {
  font: 60px Arial;
  color: rgba(255, 255, 255, 0.753);
  margin-bottom: -15px;
  margin-top: -15px
}

h2{
  color: rgba(255, 255, 255, 0.753)
}

h4 {
  margin-bottom: -15px;
  text-align: center;
  color: rgba(255, 255, 255, 0.753);
}

p {
  color: rgba(255, 255, 255, 0.753);
}

a:link {
  color: red;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: red;
  background-color: transparent;
  text-decoration: none;
}
